//base
@import 'base/vars';
@import 'base/reset';
@import 'base/utilities';

//components
@import 'components/navbar';
@import 'components/footer';

//layouts
@import 'layouts/index';
@import 'layouts/contacto';
@import 'portfolio';
@import 'quienes-somos';
@import 'servicios';

    /* Header */
    header {
        display: flex;
        justify-content: space-between;
    }

    .barraInicio {
        font-family: "roboto";
        font-size: 20px;
        font-weight: bold;
        font-style: normal;
    }

    body {
        background-image: url("../images/concrete-texture.png");
    }

    .contenedorLogo {
        padding-top: 3%;
        padding-left: 3%;
    }

    .logo {
       height: 100px;
    }

    .posicionLogo {
      width: 10%;
      margin-right:100%;
    }




