 /* Header */
 header {
    display:flex;
    justify-content: space-between;
}

.barraInicio {
    font-family: "roboto";
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
}

body {
    background-image: url("../images/concrete-texture.png");
}

.contenedorLogo {
    padding-top: 3%;
    padding-left: 3%;
}

.logo {
   height: 100px;
}

.posicionLogo {
  width: 10%;
  margin-right:100%;
}




